<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID">
	<display-name>diff_productSupplier</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	 <servlet>
    <servlet-name>index</servlet-name>
    <jsp-file>/WEB-INF/views/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowProduct</servlet-name>
    <jsp-file>/WEB-INF/views/ShowProduct.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProduct</servlet-name>
    <url-pattern>/ShowProduct.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IssueProduct</servlet-name>
    <jsp-file>/WEB-INF/views/IssueProduct.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssueProduct</servlet-name>
    <url-pattern>/IssueProduct.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PurchaseProduct</servlet-name>
    <jsp-file>/WEB-INF/views/PurchaseProduct.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseProduct</servlet-name>
    <url-pattern>/PurchaseProduct.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IssueBill</servlet-name>
    <jsp-file>/WEB-INF/views/IssueBill.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssueBill</servlet-name>
    <url-pattern>/IssueBill.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PurchaseBill</servlet-name>
    <jsp-file>/WEB-INF/views/PurchaseBill.jsp</jsp-file>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>FrontServlet</display-name>
  	<servlet-name>FrontServlet</servlet-name>
  	<servlet-class>diff_productSupplier.FrontServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ProductServlet</display-name>
  	<servlet-name>ProductServlet</servlet-name>
  	<servlet-class>diff_productSupplier.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseBill</servlet-name>
    <url-pattern>/PurchaseBill.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FrontServlet</servlet-name>
  	<url-pattern>/FrontServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductServlet</servlet-name>
  	<url-pattern>/ProductServlet</url-pattern>
  </servlet-mapping>
</web-app>
